#load-content {
  margin-top: 25%;
}

#load-title {
  font-size: 60px;
}

#load-nav {

}

.navbar-default {
  background-color: rgba(132, 131, 131, 0.5);
  border-color: #e7e7e7;
  width: 100%;
  margin:0px;
}

.blue-font {
  color: #4EB1B2;
}

.header-container {
  background: url('../imgs/keyboardDesk-SM.jpg') no-repeat center center fixed;
  background-size: cover; /* vs contain*/
  /*background-repeat: no-repeat;*/
  max-height: 730px;
  padding:0px;
  margin: 0px;
  /*background-position: center;*/
}

.title-navbar {
  background-opactiy
}

.about-me {
  background-color: #f3f5f8;
}

.header-title {
  padding-top:5%;
  margin-top:0px;
  font-size: 400%;
  font-family: sans-serif;
  /*Andale Mono, Courier, Courier New, Lucida Bright, Copperplate, SANS-SERIF*/
}
/*#B8B9BB*/
.content {
  border: 1px solid #C81414;
}

.md-height {
  height: 700px;
}

.no-padding {
  padding: 0px;
}

.no-margin {
  margin-bottom: 0px;
}

.red {
  background-color: red;
}

.blue {
  background-color: blue;
}

.green {
  background-color: green;
}

.yellow {
  background-color: yellow;
}

.black {
  background-color: black;
  font: white;
}

.orange {
  background-color: orange;
}

.purple {
  background-color: purple;
}

.brightGreen {
  background-color: #30FF00;
}

.navyBlue {
  background-color: #0967B2;
}

.magenta {
  background-color: #FF00C5
}