.pagetitle {
  margin-bottom: 0px;
  text-align: center;
}
.posttable {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  border:1px solid grey;
  border-spacing: 0;
}

.navtable {
  text-align: center;
  width: 40%;
  margin-right: auto;
  margin-left: auto;
  border: 0;
  margin-bottom: 50px;
  margin-top: 5px;
}

.center {
  text-align: center;
}

.post {
  text-align: left;
}

.socialmedia {
  font-size: 10px;
  text-align: center;
}

td {
  border: 1px solid grey;
}

