html {
  background-color: #0099ff;
  color: black;

}

.pagetitle {
  margin-bottom: 0px;
  text-align: center;
}

.posttable {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  border:1px solid #0033CC;
  border-spacing: 0;
}

.navtableHoriz {
  text-align: center;
  width: 40%;
  margin-right: auto;
  margin-left: auto;
  border: 0;
  margin-bottom: 0px;
  margin-top: 5px;
}

.navtablevert {
  text-align: left;
  padding-left: 5px;
  width: 15%;
}
.mainContent {
  text-align: left;
  width: 100%;
  height: 100%
  margin-left: 0px;
  margin-top: 10px;
}

.center {
  text-align: center;
}

.post {
  text-align: left;
}

.socialmedia {
  font-size: 10px;
  text-align: center;
}

td {
  border: 2px solid #0033CC;
}

